{% for article in article_list %}
	<a href="{% url 'article_detail' pk=article.pk %}"><h1>{{article.name}}</h1></a>
	<p>{{article.text}}</p>
	<p>{{article.price}}</p>
	<p>{{article.phone}}</p>
	<p>{{article.category}}</p>

	{% for y in article.articleimage_set.all %}
	
	{{ y.img.url }}
	
	<img src="{{ y.img.url }}" width="200" height="200"/>

	{% endfor %}
	
{% endfor %}
